<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarp.tutorials.bigranchprohects"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.CAMERA"/>
     <uses-feature android:name="android.hardware.camera"/>
     
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch20.CrimeListActivity"
	            android:label="@string/app_name" >
        </activity>
            
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch20.CrimeCameraActivity"
	            android:exported="true"
	            android:screenOrientation="landscape"
	            android:label="@string/app_name" >
        </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch20.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch20.CrimeListActivity"/>
            </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch20.SingleFragmentActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch20.CrimeListActivity"/>
            </activity>
        
        
        
        
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch19.CrimeListActivity"
	            android:label="@string/app_name" >
        </activity>
            
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch19.CrimeCameraActivity"
	            android:exported="true"
	            android:screenOrientation="landscape"
	            android:label="@string/app_name" >
        </activity>
        
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch19.SingleFragmentActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch19.CrimeListActivity"/>
            </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch19.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch19.CrimeListActivity"/>
            </activity>
            
        
        
        
        
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch18.CrimeListActivity"
	            android:label="@string/app_name" >
            	
                
            </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch18.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch18.CrimeListActivity"/>
            </activity>
            
        
        
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch18ABS.CrimeListActivity"
	            android:label="@string/app_name" >
            	
                
            </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch18ABS.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch18ABS.CrimeListActivity"/>
            </activity>
        
        
        <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch17.CrimeListActivity"
	            android:label="@string/app_name" >
            	
                
            </activity>
            
        <activity android:name="com.jarp.tutorials.bigranchprohects.ch17.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch17.CrimeListActivity"/>
            </activity>
        
        
        
        
       <activity
	            android:name="com.jarp.tutorials.bigranchprohects.ch16.CrimeListActivity"
	            android:label="@string/app_name" >
            	
                
            </activity>
            
       <activity android:name="com.jarp.tutorials.bigranchprohects.ch16.CrimePagerActivity"
	            		  android:label="@string/app_name">
            		<meta-data android:name="android.support.PARENT_ACTIVITY"
                    	   android:value="com.jarp.tutorials.bigranchprohects.ch16.CrimeListActivity"/>
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch15.HelloMoonActivity"
            android:label="@string/app_name" >
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch14.HelloMoonActivity"
            android:label="@string/app_name" >
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch13.HelloMoonActivity"
            android:label="@string/app_name" >
            </activity>
        
        
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch12.CrimeListActivity"
            android:label="@string/app_name" >
            </activity>
        
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch12.CrimePagerActivity"
            android:label="@string/app_name" >
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch11.CrimeListActivity"
            android:label="@string/app_name" >
            </activity>
        
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch11.CrimePagerActivity"
            android:label="@string/app_name" >
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch10.CrimeListActivity"
            android:label="@string/app_name" >
            </activity>
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch10.CrimeActivity"
            android:label="@string/app_name" >
            </activity>
            
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch9.CrimeActivity"
            android:label="@string/app_name" >
            </activity>
            
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch9.CrimeListActivity"
            android:label="@string/app_name" >
            </activity>
            
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.ch8.CrimeActivity"
            android:exported="true"
            android:label="@string/app_name" >
            
            </activity>
            
        
        <activity
            android:name="com.jarp.tutorials.bigranchprohects.crimeproject.CrimeActivity"
            android:label="@string/app_name" >
            
            </activity>
    </application>


</manifest>